@import "tailwindcss";

/* Thème clair/sombre */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Variables personnalisées */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Typographie et couleurs globales */
html {
  scroll-behavior: smooth;
  height: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Scène immersive */
.scene {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.scene-block {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

.scene-block.active {
  opacity: 1;
  pointer-events: auto;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.scroll-touch {
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}
