@import "tailwindcss";

/* Thème clair/sombre */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  height: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.shadow-underline {
  box-shadow: inset 0 1.2em 0 #ac1115;
  padding-top: 0.1em;
  padding-left: 0.5em;
  display: inline;
}
.lettrine {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.lettrine::first-letter {
  font-family: "annStone", serif;
  font-size: clamp(3rem, 8vw, 6rem);
  color: #ac1115;
  float: left;
  line-height: 0.9;
  margin-top: -0.1em;
  padding-right: 0.02em;
}
.lettrine_w {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.lettrine_w::first-letter {
  font-family: "annStone", serif;
  font-size: clamp(3rem, 8vw, 6rem);
  color: white;
  float: left;
  line-height: 0.9;
  margin-top: -0.1em;
  padding-right: 0.02em;
}

@font-face {
  font-family: "annStone";
  src: url("../../public/fonts/AnnStone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-ancient {
  font-family: annStone;
}

@font-face {
  font-family: "garamond";
  src: url("../../public/fonts/EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-garamond {
  font-family: garamond;
}

@keyframes pulse-heart {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

.pulse-heart {
  animation: pulse-heart 1.2s infinite ease-in-out;
}
@media (min-width: 769px) {
  .max-md-only {
    display: none !important;
  }
}
@keyframes pulse-button {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(172, 17, 21, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 10px 4px rgba(172, 17, 21, 0.4);
  }
}

.pulse-button {
  animation: pulse-button 1.5s infinite ease-in-out;
}
.bg-pierre {
  background-image: url("../../public/fond_pierre.jpg");
  background-size: 100vw 100vh;
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
}
